/* Nav bar dropdown */
#mainNav ul{
	list-style: none;
	margin: 0;
}

#mainNav ul li{
	float: left;
	position: relative;
}

#mainNav ul ul{
	position: absolute;
	padding: 5%;
	display: none;
}

#mainNav ul li:hover ul{
	display: block;
	background-color: #a30001;
}

#mainNav ul ul li{
	position: relative;
	float: left;
	width: 100%;
	align-items: center;
	justify-content: center;
}
/* nav bar done */

.search_bar {
	padding: 1% 3%;
	width: 50%;
	border-radius: 27px;
	border: none;
}

input#club_search {
	padding: 1% 2%;
	width: 50%;
	border: none;
	border-radius: 33px;
	margin-top: 3%;
	margin-left: -49%;
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

svg.svg-inline--fa.fa-search.fa-w-16 {
	position: absolute;
	margin-top: 3%;
	margin-left: -16%;
}

li.error-message {
	list-style-type: none;
	margin-left: -23%;
	margin-top: 1%;
}

img.icons {
	width: 30px;
	margin-right: 5px;
	/* width: 100%; */
}

img.club_img {
	width: 80vw;
}

.question {
	box-shadow: rgb(0 0 0 / 24%) 0px 0px 8px;
	padding: 3% 4%;
	margin-top: 4%;
	border-radius: 21px;
}

.question_block .up {
	display: none;
}

.answer {
	box-shadow: rgb(0 0 0 / 24%) 0px 0px 8px;
	padding: 3% 4%;
	border-radius: 21px;
	display: none;
}

.active .answer {
	display: block;
}

.expand_box {
	text-align: left;
	margin-top: 3%;
	display: block;
	margin-left: 1%;
	width: 96%;
	display: none;
}

.active .expand_box {
	display: block;
}

.drop {
	background-color: transparent;
	border: none;
	width: 100%;
}

.club_info {
	margin-left: 7%;
	text-align: left;
}

.club_header {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.club_box {
	box-shadow: 5px 5px 16px 5px rgba(221, 221, 221,0.8);
	padding: 2.5%;
	margin-top: 25px;
	margin-left: 1%;
	margin-right: 1%;
	width: 96%;
	height: 100%;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
}

.club_box .up {
	display: none;
	margin-left: 6%;
	margin-top: 1%;
}

.active .up {
	display: block;
}

.club_box .down {
	display: block;
}

.active .down {
	display: none;
}

svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
	margin-left: 6%;
	margin-top: 1%;
}

button.web_link {
	white-space: nowrap;
	border: none;
	background-color: #ac191a;
	color: white;
	padding: 6% 10%;
	margin-top: 2%;
	margin-right: 1%;
}
.event-popup {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 56px;
  border: none;
  border-radius: 12px;
  padding: 5% 4%;
  display: none;
  align-items: center;
  color: white;
  background-color: #0a1241;
}

.event-popup-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 8px;
}

.event-popup-text {
  position: absolute;
  left: 56px;
  top: 0px;
}

.event-popup-close {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

button.web_link:hover {
	background-color: #0A1241;
	animation-duration: 2s;
}

a.icons {
	width: 5%;
	margin-right: 2%;
	margin-top: 3%;
}

.lrn {
	margin-top: 20px;
	font-size: 1.8em;
}

.lrn_small {
	font-size: 1.5em;
}

.club_box {
	list-style-type: none;
}

.together2 {
	width: 104%;
	margin-top: 22px;
	display: flex;
}

.carousel_item {
	display: flex;
	justify-content: space-around;
}

.slide_show {
	color: grey;
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
	padding: 3%;
	margin-bottom: 2%;
}

img.c_image {
	width: 180px;
	height: 180px;
	margin-bottom: 7%;
	object-fit: contain;
}

.c_item {
	height: 240px;
	width: 240px;
}

#search_button {
	color: lightblue;
	background-color: #0A1241;
}

#search_button:hover {
	color: #0A1241;
	background-color: lightblue;
}

a.result-item {
	text-align: center;
	list-style-type: none;
	background-color: #f2f2f2;
	color: black;
	width: 35%;
	padding: 1% 1%;
	margin-top: 1%;
	border-radius: 33px;
	margin-left: 27%;
	display: block;
}

button.web_button {
	background-color: #0A1241;
	border: none;
	font-size: 100%;
	color: white;
	align-items: center;
	padding: 8px;
	transition: background-color 1s ease-out 100ms
}

button.web_button:hover {
	background-color: #3c7fcf;
}

img.footer_sm_links {
	width: 7%;
	margin-right: 10px;
}

img.main_sm_links {
	width: 6%;
	margin-top: 2%;
}

@media (min-width: 1200px) {
	.seperate {
		display: block;
	}
	.together {
		display: flex;
	}
	button.dropbt {
		border: none;
		padding: 0.6% 3%;
		margin-left: 2%;
		border-radius: 33px;
		background-color: #0A1241;
		color: white;
	}
	div#dropdown_content {
		list-style-type: none;
		text-align: left;
		margin-left: 2%;
		margin-top: 1%;
	}
	.ques_txt {
		font-weight: 100;
		font-size: 24px;
		text-align: left;
	}
	button.filterbt {
		border: none;
		background: transparent;
	}
	img.slides_show_img {
		width: 200%;
		margin-left: -95%;
	}
	.text_p {
		width: 70%;
	}
	.show {
		display: block;
	}
	svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
		margin-top: 7%;
	}
	svg.svg-inline--fa.fa-arrow-left.fa-w-14 {
		margin-top: 7%;
	}
	#clubs_title {
		font-size: 2rem;
		text-align: left;
		margin-top: 8%;
	}
	p.descrp {
		text-align: left;
	}
	/* .active {
    background-color: #717171;
    } */
	.slideshow-container {
		max-width: 1000px;
		position: relative;
		margin: auto;
	}
	/*.lrn {
      margin-bottom: 43%;
    }*/
	.club_row {
		display: flex;
	}
	.seperate {
		width: 48%;
	}
	.club_header {
		flex-direction: row;
		margin: 0;
	}
	.expand_box_core_content {
		max-height: 250px;
		overflow-y: scroll;
	}
	a.web_link {
		margin-left: auto;
		margin-top: 3%;
	}
	img.main_sm_links {
		width: 4%;
	}
	
	.together {
		display: flex;
	}
	
	/*.faq-btn {
      margin-left: 99%;
      margin-top: 0%;
    }*/
	
	label {
		margin-right: 2%;
	}
	.container input:checked~.checkmark {
		background-color: red;
	}
	.club_sec {
		display: block;
	}
	.seperate {
		display: block;
	}
	
	img.club_img {
		width: 150px;
		height: 150px;
		object-fit: contain;
	}
	
	.orchestra {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: #CCCCCC;
		margin: 0;
		border-radius: 1em;
		padding: 2em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.orch-head {
		font-size: 2rem;
		color: #000000;
		line-height: 1.2;
		text-align: left;
		text-decoration: underline;
		text-decoration-color: #A7501F;
	}
	.orch-grade {
		font-size: 1.3rem;
		color: #A7501F;
		line-height: 1.2;
		text-align: left;
	}
	.orch-p {
		font-size: 0.875rem;
		color: #000000;
		line-height: 1.2;
		text-align: left;
	}
	.link-register {
		color: #A7501F;
	}
}

@media (min-width: 576px) {
	.container-sm, .container {
	  max-width: 540px;
	}
  
	.orchestra {
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	  background: #CCCCCC;
	  margin: 0;
	  border-radius: 1em;
	  padding: 2em;
	  margin-top: 2em;
	  margin-bottom: 2em;
	}
	.orch-head {
	  font-size: 2rem;
	  color: #000000;
	  line-height: 1.2;
	  text-align: left;
	  text-decoration: underline;
	  text-decoration-color: #A7501F;
	}
	.orch-grade {
	  font-size: 1.3rem;
	  color: #A7501F;
	  line-height: 1.2;
	  text-align: left;
	}
	.orch-p {
	  font-size: 0.875rem;
	  color: #000000;
	  line-height: 1.2;
	  text-align: left;
	}
	.link-register {
	  color: #A7501F;
	}
  }

/*Responsive Design*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.main_sm_links {
        width: 6%;
        margin-top: 2%;
    }
    .page-section h2.section-heading, .page-section .section-heading.h2 {
      font-size: 1.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .btn-xl {
      font-size: 2.125rem;
    }
    img.slides_show_img {
      width: 100%;
    }
    .iframe{
      width: 350px;
    }
    p {
      line-height: 1.75;
      text-align: center;
    }
    header.masthead .masthead-subheading {
      font-size: 3.25rem;
    }
    header.masthead .masthead-heading {
      font-size: 5.25rem;
    }
    .search_bar {
		padding: 2% 3%;
		width: 100%;
		margin-top: 5%;
		border-radius: 56px;
		border: none;
	}
    #mainNav .navbar-toggler {
      font-size: 2.75rem;
    }
    #title{
      font-size: 1.2rem;
    }
    #search_button {
      display:  none;
    }
    .page-section h2.section-heading, .page-section .section-heading.h2 {
      font-size: 1.7rem;
      margin-top: 2%;
      margin-bottom: 1rem;
    }
    .page-section h3.section-subheading, .page-section .section-subheading.h3 {
      font-size: 1.3rem;
      font-weight: 400;
      font-style: italic;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      margin-bottom: 2rem;
    }
    .slide_show {
      color: grey;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
      padding: 3%;
      margin-bottom: 2%;
      width: 334%;
      margin-left: 2%;
    }
    .c_item {
      height: 255px;
      width: 311px;
   }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

  @media (max-width: 575.98px) {
    .table-responsive-sm {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .orchestra {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #CCCCCC;
      margin: 0;
      border-radius: 1em;
      padding: 2em;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
    }
    .orch-head {
      font-size: 2rem;
      color: #000000;
      line-height: 1.2;
      text-decoration: underline;
      text-decoration-color: #A7501F;
      text-align: center;
    }
    .orch-grade {
      font-size: 1.3rem;
      color: #A7501F;
      line-height: 1.2;
      text-align: center;
    }
    .orch-p {
      font-size: 0.875rem;
      color: #000000;
      line-height: 1.2;
      text-align: center;
    }
    .link-register {
      color: #A7501F;
    }
  }
  @media (max-width: 767.98px) {
    .table-responsive-md {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .orchestra {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #CCCCCC;
      margin: 0;
      border-radius: 1em;
      padding: 2em;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
    }
    button.faq-btn {
      border: none;
      background: transparent;
    }
    .orch-head {
      font-size: 2rem;
      color: #000000;
      line-height: 1.2;
      text-decoration: underline;
      text-decoration-color: #A7501F;
      text-align: center;
    }
    .orch-grade {
      font-size: 1.3rem;
      color: #A7501F;
      line-height: 1.2;
      text-align: center;
    }
    .orch-p {
      font-size: 0.875rem;
      color: #000000;
      line-height: 1.2;
    }
    .link-register {
      color: #A7501F;
      text-align: center;
    }
  }
  @media (max-width: 991.98px) {
	#mainNav ul ul{
		padding: 1% 2%;
	}
	button.web_button{
		float: right;
	}
	
    .table-responsive-lg {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .orchestra {
      margin: 0;
      padding: 0;
      list-style-type: none;
      background: #CCCCCC;
      margin: 0;
      border-radius: 1em;
      padding: 2em;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
    }
    .orch-head {
      font-size: 2rem;
      color: #000000;
      line-height: 1.2;
      text-decoration: underline;
      text-decoration-color: #A7501F;
      text-align: center;
    }
    .orch-grade {
      font-size: 1.3rem;
      color: #A7501F;
      line-height: 1.2;
      text-align: center;
    }
    .orch-p {
      font-size: 0.875rem;
      color: #000000;
      line-height: 1.2;
      text-align: center;
    }
    .link-register {
      color: #A7501F;
    }
  }