:root {
    --slides-img-width: 200px;
    --slides-img-margin: 20px;
    --slides-images-showing: 1;
    --slides-transition-speed: 750ms;
}

/* Nav bar dropdown */
#mainNav ul{
	list-style: none;
	margin: 0;
}

#mainNav ul li{
	float: left;
	position: relative;
}

#mainNav ul ul{
	position: absolute;
	padding: 5%;
	display: none;
}
iframe {
    border: 0;
    width: 60%;
    height: 684px;
}
.iframe_m {
	height: unset;
	width: unset;
    width: 30%;
    height: 30%;
    padding: 5% 1%;
}
#mainNav ul li:hover ul{
	display: block;
	background-color: var(--theme-darkblue);
}

#mainNav ul ul li{
	position: relative;
	float: left;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#title {
	color: white;
}
/* nav bar done */

header.masthead {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}

.img-container {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 100%; */
	background: var(--theme-lightblue) url('assets/collage.jpg') no-repeat center center/cover;
}

.img-container img{
	/* min-height: 100%; */
	width: 100%;
	object-fit: cover;
	/* position: absolute; */
	top: 50%;
	left: 50%;
	transform: translate((-50%, -50%));
}

.img-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(60, 127, 207, 0.9);
}

.container.landing {
	z-index: 1;
	position: absolute;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(9, 5vw);
	grid-gap: 15px;
	justify-items: center;
	padding: 0 50px;
}

.grid-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-item_1 {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 5;
}

.grid-item_2 {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 9;
}

.grid-item_3 {
	grid-column-start: 5;
	grid-column-end: 15;
	grid-row-start: 1;
	grid-row-end: 9;
}

#main {
	display: flex;
	justify-content: center;
	padding-left: 2%;
}

.slideshows {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slideshow-wrapper {
    width: calc((var(--slides-img-width) + var(--slides-img-margin) * 2)* var(--slides-images-showing));
    overflow: hidden;
	margin-top: 10px;
	padding: 20px 0;
}

.slideshow-wrapper h3 {
	margin-bottom: 50px;
}

.slideshow {
    display: flex;
}

.slide-wrapper {
    position: relative;
    transition: transform var(--slides-transition-speed) ease;
}

.slide-link {
	text-decoration: none;
}

.slide-link:hover {
	color: black;
}

.slide-img {
    width: var(--slides-img-width);
	height: var(--slides-img-width);
    margin: 0 var(--slides-img-margin);
	object-fit: contain;
}

.slide-link h5 {
	margin-top: 10px;
	min-height: 70px;
}

p.descrp {
	text-align: left;
	margin-right: 2%;
	margin-bottom: 20px;
}

.search-form {
	margin-left: 0;
}

.results_container {
	width: 98%;
	display: flex;
	justify-content: center;
}

.results_list {
	position: absolute;
	width: 68vw;
	margin-left: 0;
	padding: 5px 0;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #FFF;
	list-style-type: none;
	opacity: 0;
	box-shadow: 5px 5px 18px 6px rgba(2, 13, 27, 0.18);
}

.result-item {
	color: black;
	display: block;
	padding: 12px 20px;
	padding-left: 50px;
	text-align: left;
	list-style-type: none;
	text-decoration: none;
}

.result-item:hover {
	color: black;
	background-color: #e6e6e6;
	transition: background-color 0.2s ease;
}

.search_bar {
	padding: 1% 50px;
	width: 68vw;
	border-radius: 27px;
	border: none;
}
#clubs_title {
	font-size: 2.2rem;
	text-align: center;
	margin-top: 10%;
}

.search-wrapper {
	display: flex;
	flex-direction: column;
	margin-right: 2%;
}

.search-bar-wrapper {
	position: relative;
	display: flex;
	width: 97%;
	margin-bottom: 5px;
}

.option-colour-circle {
	border-radius: 50%;
	width: 14rem;
	height: 14rem;
	border: 0.5rem solid rgb(224.5, 224.5, 224.5);
	margin-left: auto;
	margin-right: auto;
}

.option-colour-circle.background-blue {
	background-color: blue;
}
.option-colour-circle.background-red {
	background-color: red;
}
.option-colour-circle.background-white {
	background-color: white;
}

input#club_search {
	padding: 0 45px 0 20px;
	height: 40px;
	width: 100%;
	border: 1px solid rgb(177, 177, 177);
	border-radius: 33px;
	background-color: #F8F8F8;
	margin-right: -15px;
}
input#club_search:focus {
	outline: rgb(95, 95, 95) solid 1px;
	background-color: #FFF;
}
.quiz_slide {
  border: none;
  box-shadow: 5px 10px 18px #888888;
  width: 56%;
  padding: 2%;
  height: max-content;
}

.next {
	float: right;
}

.search-icon {
	color: black;
	position: relative;
	top: 11px;
	right: 20px;
}

.large-search-icon {
	font-size: 1.2em;
	top: 0;
	right: 40px;
}


.dropdown-btn {
	position: relative;
	height: 40px;
	width: 97%;
	border-radius: 33px;
	margin-bottom: 10px;
	padding: 0 20px;
	text-align: left;
	border: 1px solid rgb(177, 177, 177);
	background-color: #F8F8F8;
}

.dropdown-btn:focus {
	outline: rgb(95, 95, 95) solid 1px;
}

.filter-icon {
	position: absolute;
	top: 8px;
	right: 16px;
	pointer-events: none;
}

.dropdown_content {
	position: absolute;
	display: none;
	padding: 10px 0;
	width: 95%;
	background-color: white;
	border-radius: 5px;
	border: 1px solid rgb(184, 184, 184);
	box-shadow: 5px 5px 14px 8px rgba(221, 221, 221, 0.2);
	text-align: left;
}

.dropdown-active{
	display: flex;
	flex-direction: column;
}

.filter-wrapper {
	position: relative;
	width: 100%;
}

.filter-wrapper input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	cursor: pointer;
}

.filter-wrapper .checkmark {
	display: none;
	position: absolute;
	left: 15px;
	top: 15px;
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

.filter-active .checkmark {
	display: block;
}

.filter-wrapper label {
	user-select: none;
	width: 100%;
	padding: 10px 50px;
}

.filter-wrapper label:hover {
	background-color: rgb(233, 233, 233);
	transition: background-color 0.2s ease-in-out;
}

li.error-message {
	list-style-type: none;
	margin-left: -23%;
	margin-top: 1%;
}

img.icons {
	width: 30px;
	margin-right: 5px;
	/* width: 100%; */
}

img.club_img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}
iframe#calendar {
    border: 0;
    width: 60%;
    height: 684px;
}

.calendar_table {
	margin: 0 2.5%;
	width: 95%;
	table-layout: fixed;
	border-collapse: collapse;
}

.calendar_col {
	border-left: 1px solid black;
	border-right: 1px solid black;
	vertical-align: top;
}

.calendar_col.full_width {
	width: 100%;
	border-left: 0px;
	border-right: 0px;
}

.calendar_header {
	border-bottom: 1px solid black;
}

.calendar_time {
	margin-bottom: 0;
	white-space: pre-wrap;
	cursor: pointer;
}

.calendar_expand_button {
	background-color: white;
	border: none;
}

div.calendar_event {
	margin: 0.5em;
	border: 1px solid black;
	border-radius: 1em;
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
	padding: 5%;
}

.calendar_event_expand {
	display: none;
	text-align: left;
}

.calendar_event_expand.expanded {
	display: block;
}

h2.section-heading {
	margin-top: 20px;
	margin-bottom: 40px;
}

.question_block {
	margin: 0 10vw;
	border-top: 1px solid rgb(202, 202, 202);
}

.faq-btn {
	padding: 0;
	width: 100%;
}

.question_block:hover {
	background-color: rgb(245, 245, 245);
	transition: background-color 0.2s ease-in-out;
}

.question {
	padding: 30px 4%;
	border-radius: 21px;
}

.ques_txt {
	font-weight: 100;
	text-align: left;
}

.question_block .up {
	display: none;
}

.answer {
	width: 100%;
	border-radius: 21px;
	max-height: 0;
	overflow: hidden;
	text-align: left;
	transition: all 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.answer p {
	text-align: left;
	padding: 3% 4%;
}

.active .answer {
	max-height: 100vh;
	transition: all 0.25s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.expand_box {
	text-align: left;
	margin-left: 6%;
	display: block;
	width: 88%;
	max-height: 0;
	overflow-y: clip;
	transition: max-height 0.25s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.expand_box_core_content p {
	margin-top: 3%;
	text-align: left;
}

.active .expand_box {
	max-height: 100vh;
	transition: max-height 0.25s cubic-bezier(0.47, 0, 0.745, 0.715);
}

button.drop {
	padding-left: 0;
}

.drop {
	background-color: transparent;
	border: none;
	width: 100%;
}
.contributors {
	text-decoration: none;
	border: white;
	border-style: solid;
	padding: 7px;
	font-size: 13px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 2px;
	line-height: 42px;
}
button#contributors {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 600;
  color: white;
}
input#club_search:focus {
	outline: rgb(95, 95, 95) solid 1px;
	background-color: #FFF;
}
#weekly_calendar {
  margin-top: 4%;
  padding: 0rem 0;
}
#people {
	display:  none;
}
.contributors:hover {
	color: black;
	border: black;
	border-style: solid;
}
#mariya{
  background-color: #4dc3a3
}
#nuha{
	background-color: #f0b852;
}
#charis{
	background-color: #c7c7fa;
}
#tristan{
	background-color: #678fea;
}
#chinglam{
	background-color: #f4b4bf;
}
#jiwon{
	background-color: #a3e6a3;
}
#brian{
	background-color: #fccea4;
}
#ali{
	background-color: #f06060;
}
.club_row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.club_info {
	width: 50%;
	/* margin-top: 0;
	margin-left: 6%; */
	margin: 0 6% 0;
	text-align: left;
}

.seperate {
	width: 48%;
}

.seperate {
	display: block;
}

.club_header {
	display: flex;
	flex-direction: row;
	margin: 0 13%;
	justify-content: center;
}

.club_box {
	padding: 2.5% 1%;
	margin-top: 25px;
	margin-right: 2%;
	width: 96%;
	height: 100%;
	border: 1px solid rgb(182, 182, 182);
	border-radius: 5px;
}

.club_box .up {
	display: none;
	margin-left: 6%;
	margin-top: 1%;
}

.no_bold {
	font-weight: normal;
}

.active .up {
	display: block;
}
#history_popup {
	display: none;
}
h4.t_history {
  font-size: 25px;
  font-weight: 100;
}
#team_popup {
	display:  none;
}
.club_box .down {
	display: block;
}
.a_row {
	display: flex;
}
h3.sport_info_title {
  margin-top: 3%;
}
img.t_pictures3 {
    width: 27%;
}
img.t_pictures2 {
    width: 20%;
}
img.t_pictures4 {
    width: 42%;
    margin-bottom: 1%;
}
h5.team_details_text {
  font-weight: 100;
}
.a_row_2 {
	display: flex;
}
h6.t_members {
	padding-top: 2%;
	text-align: center;
}
.t_pictures {
    width: 100%;
}

div.team_members {
	display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
}

div.team_member {
	width: auto;
	padding: 2.5% 5%;
	align-items: center;
}

.team_history_section {
  color: white;
  background-color: #ac191a;
  width: 67%;
  padding: 3%;
  position: fixed;
  top: 24%;
  left: 15%;
}
button.close_bt {
  position: absolute;
  top: 7%;
  left: 96%;
  color: black;
  font-size: 21px;
  border: none;
  background: transparent;
}
.active .down {
	display: none;
	display:  fixed;
}

svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
	margin-left: 6%;
}

.club-links {
	margin-top: 30px;
}
.center_elements{
	justify-content: center;
}
button.web_link {
	white-space: nowrap;
	border: none;
	background-color: #ac191a;
	color: white;
	padding: 5% 7%;
}
button.page_link {
	white-space: nowrap;
    border: none;
    background-color: #ac191a;
    color: white;
    padding: 2% 6%;
    margin-right: 3%;
}
a.web_link , a.page_link {
	margin-top: 2%;
	margin-left: auto;
}
button.web_link_2{
	white-space: nowrap;
	border: none;
	background-color: #ac191a;
	color: white;
	padding: 2% 4%;
	margin-top: 2%;
	margin-right: 1%;
	margin-left:  12%;
}
.circles {
    margin-right: -12%;
}

.event-popup {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 56px;
  border: none;
  border-radius: 12px;
  padding: 5% 4%;
  display: none;
  align-items: center;
  color: white;
  background-color: #0a1241;
  z-index: 2;
}

.event-popup-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 8px;
}

.event-popup-text {
  position: absolute;
  left: 56px;
  top: 0px;
}

.event-popup-close {
  position: absolute;
  right: 18px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}

button.web_link:hover {
	background-color: #0A1241;
	animation-duration: 2s;
}

a.icons {
	width: 5%;
	margin-right: 2%;
	margin-top: 3%;
}

.lrn {
	margin-top: 20px;
	font-size: 1.8em;
}

.lrn_small {
	font-size: 1.5em;
}

.contents {
	font-family: var(--open-sans);
}

.together2 {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.together2 h6 {
	margin-bottom: 0;
}
.glue {
	display: flex;
}

.carousel_item {
	display: flex;
	justify-content: space-around;
}

.slide_show {
	color: grey;
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
	padding: 3%;
	margin-bottom: 2%;
}
table th td {
	border:1px solid black;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table thead {
	text-align:  center;
}
.styled-table tbody {
	text-align: left;
}
img.c_image {
	width: 180px;
	height: 180px;
	margin-bottom: 7%;
	object-fit: contain;
}
.s2 {
	display: none;
}
.c_item {
	height: 240px;
	width: 240px;
}

#search_button {
	color: lightblue;
	background-color: #0A1241;
}
a.art-form {
  background-color: #0a1241;
  color: white;
  padding: 1% 2%;
  border: none;
  border-radius: 33px;
  text-decoration: none;
}

#gallery {
   display: flex;
   max-width: 1200px;
   width: 100%;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 10px auto 0;
   padding: 5px;
   align-items: center;
   justify-content: center;
}
#gallery .box {
	position: relative;
	width: 250px;
	height: 250px;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
#gallery .box .img-box{
	position: relative;
	overflow: hidden;
}
#gallery .box .img-box img{
	max-width: 100%;
	transition: 1.5s ease;
	opacity: .2;
}

#gallery .box:hover .img-box img{
	transform: scale(1.2);
	opacity: 1;
}

#gallery .box .text{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  transform: scaleY(0);
  align-items: center;
  justify-content: center;
  transition-duration: 0.6s;
}
#gallery .box:hover .text{
	transform: scaleY(1);
}

#gallery .box .text .content{
	color: white;
	position: absolute;
	margin: auto;
	text-align: center;
	padding: 5px;
	align-items: center;
	justify-content: center;
}

#gallery .box .text .content h1{
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: bold;
}
h2.a_title {
    margin-top: 9%;
	text-align: center;
	font-size: 2.5em;
}
#gallery .box .text .content p{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: normal;
}

p.dscr {
  width: 18%;
  text-align: center;
  margin-top: 4%;
}
.box {
  position: absolute;
}
#search_button:hover {
	color: #0A1241;
	background-color: lightblue;
}

button.web_button {
	background-color: #0A1241;
	border: none;
	font-size: 100%;
	color: white;
	align-items: center;
	padding: 8px;
	transition: background-color 1s ease-out 100ms
}

button.web_button:hover {
	background-color: #3c7fcf;
}

img.footer_sm_links {
	color: white;
	width: 27px;
	margin-right: 10px;
}

img.main_sm_links {
	width: 4%;
	margin-top: 2%;
}

@media (min-width: 500px) {
	:root {
		--slides-images-showing: 2;
	}
}

@media (min-width: 700px) {
	:root {
		--slides-images-showing: 3;
	}
}

@media (min-width: 900px) {
	:root {
		--slides-images-showing: 4;
	}
}

@media (min-width: 1200px) {
	:root {
		--slides-images-showing: 5;
	}
	#main {
		display: block;
		padding-left: 0;
	}

	.together {
		display: flex;
	}
	.together2 {
		margin-top: 22px;
	}
	.search-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}
	.search-bar-wrapper {
		width: 50%;
	}
	.dropdown_content {
		box-shadow: 5px 5px 15px 7px #E7E7E7;
		margin-left: 2%;
		width: 30%;
		right: 3%;
	}
	.dropdown-btn {
		width: 25%;
    	margin-left: 1%;
	}
	button.dropbt {
		border: none;
		padding: 0.6% 3%;
		margin-left: 2%;
		border-radius: 33px;
		background-color: #0A1241;
		color: white;
	}
	.ques_txt {
		margin: 0;
		font-size: 24px;
	}
	button.filterbt {
		border: none;
		background: transparent;
	}
	img.slides_show_img {
		width: 200%;
		margin-left: -95%;
	}
	.expand_box_core_content p {
		margin-top: 10%;
		text-align: left;
	}	
	.text_p {
		width: 70%;
	}
	.show {
		display: block;
	}
	svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
		margin-top: 7%;
	}
	svg.svg-inline--fa.fa-arrow-left.fa-w-14 {
		margin-top: 7%;
	}
	#clubs_title {
		text-align: left;
	}
	.slideshow-container {
		max-width: 1000px;
		position: relative;
		margin: auto;
	}
	.together {
		display: flex;
	}
	label {
		margin-right: 2%;
	}
	.club_sec {
		display: block;
	}		
	.orchestra {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: #CCCCCC;
		margin: 0;
		border-radius: 1em;
		padding: 2em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.orch-head {
		font-size: 2rem;
		color: #000000;
		line-height: 1.2;
		text-align: left;
		text-decoration: underline;
		text-decoration-color: #A7501F;
	}
	.orch-grade {
		font-size: 1.3rem;
		color: #A7501F;
		line-height: 1.2;
		text-align: left;
	}
	.orch-p {
		font-size: 0.875rem;
		color: #000000;
		line-height: 1.2;
		text-align: left;
	}
	.link-register {
		color: #A7501F;
	}
	.drama-slideshow {
		box-sizing:border-box;
	  max-width: 800px;
	  position: relative;
	  margin: auto;
	}
	.mySlides {
  	display: none;
	}
	.mySlides img {
		vertical-align: middle;
	}
	.d-prev, .d-next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: white;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	}
	.d-next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}
	.d-prev:hover, .d-next:hover {
	  background-color: rgba(0,0,0,0.8);
	}
	.s-dot {
	  cursor: pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}
	.s-dot:hover {
	  background-color: #717171;
	}

}

@media (min-width: 576px) {
	.container-sm, .container {
	  max-width: 540px;
	}
  
	.orchestra {
	  margin: 0;
	  padding: 0;
	  list-style-type: none;
	  background: #CCCCCC;
	  margin: 0;
	  border-radius: 1em;
	  padding: 2em;
	  margin-top: 2em;
	  margin-bottom: 2em;
	}
	.orch-head {
	  font-size: 2rem;
	  color: #000000;
	  line-height: 1.2;
	  text-align: left;
	  text-decoration: underline;
	  text-decoration-color: #A7501F;
	}
	.orch-grade {
	  font-size: 1.3rem;
	  color: #A7501F;
	  line-height: 1.2;
	  text-align: left;
	}
	.orch-p {
	  font-size: 0.875rem;
	  color: #000000;
	  line-height: 1.2;
	  text-align: left;
	}
	.link-register {
	  color: #A7501F;
	}
}

/*Responsive Design*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .page-section h2.section-heading, .page-section .section-heading.h2 {
      font-size: 1.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .btn-xl {
      font-size: 2.125rem;
    }
    img.slides_show_img {
      width: 100%;
    }

    p {
      line-height: 1.75;
      text-align: center;
    }
    header.masthead .masthead-subheading {
      font-size: 3.25rem;
    }
    header.masthead .masthead-heading {
      font-size: 5.25rem;
    }
    .search_bar {
		padding: 2% 3%;
		width: 90%;
		margin-top: 5%;
		border-radius: 56px;
		border: none;
	}
    #mainNav .navbar-toggler {
      font-size: 2.75rem;
    }
    #title{
      font-size: 1.2rem;
    }
    #search_button {
      display:  none;
    }
    .page-section h2.section-heading, .page-section .section-heading.h2 {
      font-size: 1.7rem;
      margin-top: 2%;
      margin-bottom: 1rem;
    }
    .page-section h3.section-subheading, .page-section .section-subheading.h3 {
      font-size: 1.3rem;
      font-weight: 400;
      font-style: italic;
      font-family: var(--open-sans);
      margin-bottom: 2rem;
    }
    .slide_show {
      color: grey;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
      padding: 3%;
      margin-bottom: 2%;
      width: 334%;
      margin-left: 2%;
    }
    .c_item {
      height: 255px;
      width: 311px;
   }
   .d-img {
	   	padding-left: 5%;
	   	padding-right: 5%;
   }
   .drama-slideshow {
		box-sizing:border-box;
	 	max-width: 800px;
	 	position: relative;
	 	margin: auto;
	}
   	.mySlides {
  		display: none;
	}
	.mySlides img {
		vertical-align: middle;
	}
	.d-prev, .d-next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: #0A1241;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	}
	.d-next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}
	.d-prev:hover, .d-next:hover {
	  background-color: rgba(0,0,0,0.8);
	}
	.s-dot {
	  cursor: pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}
	.s-dot:hover {
	  background-color: #717171;
	}

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
	img.slides_show_img {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.d-img {
	   	padding-left: 10%;
	   	padding-right: 10%;
    }
       .drama-slideshow {
		box-sizing:border-box;
	 	max-width: 800px;
	 	position: relative;
	 	margin: auto;
	}
   	.mySlides {
  		display: none;
	}
	.mySlides img {
		vertical-align: middle;
	}
	.d-prev, .d-next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: #0A1241;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	}
	.d-next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}
	.d-prev:hover, .d-next:hover {
	  background-color: rgba(0,0,0,0.8);
	}
	.s-dot {
	  cursor: pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}
	.s-dot:hover {
	  background-color: #717171;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.club_row {
		flex-direction: row;
		align-items: flex-start;
	}
}

@media (max-width: 575.98px) {
	.table-responsive-sm {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	img.club_img {
		width: 90%;
		margin: 0 5%;	
	}
	.club_info {
		width: 100%;
		margin-top: 30px;
	}
	.seperate {
		width: 95%;
	}
	.club_header {
		flex-direction: column;
		margin: 20px 0;
	}	
	.orchestra {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: #CCCCCC;
		margin: 0;
		border-radius: 1em;
		padding: 2em;
		margin-top: 2em;
		margin-bottom: 2em;
		text-align: center;
	}
	.orch-head {
		font-size: 2rem;
		color: #000000;
		line-height: 1.2;
		text-decoration: underline;
		text-decoration-color: #A7501F;
		text-align: center;
	}
	.orch-grade {
		font-size: 1.3rem;
		color: #A7501F;
		line-height: 1.2;
		text-align: center;
	}
	.orch-p {
		font-size: 0.875rem;
		color: #000000;
		line-height: 1.2;
		text-align: center;
	}
	.link-register {
		color: #A7501F;
	}
}
@media (max-width: 767.98px) {
	img.main_sm_links {
		width: 27px;
	}
	.table-responsive-md {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.orchestra {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: #CCCCCC;
		margin: 0;
		border-radius: 1em;
		padding: 2em;
		margin-top: 2em;
		margin-bottom: 2em;
		text-align: center;
	}
	button.faq-btn {
		border: none;
		background: transparent;
	}
	.orch-head {
		font-size: 2rem;
		color: #000000;
		line-height: 1.2;
		text-decoration: underline;
		text-decoration-color: #A7501F;
		text-align: center;
	}
	.orch-grade {
		font-size: 1.3rem;
		color: #A7501F;
		line-height: 1.2;
		text-align: center;
	}
	.orch-p {
		font-size: 0.875rem;
		color: #000000;
		line-height: 1.2;
	}
	.link-register {
		color: #A7501F;
		text-align: center;
	}
}
@media (max-width: 991.98px) {
	#mainNav ul ul{
		padding: 1% 2%;
	}
	button.web_button{
		float: right;
	}
	.search_bar {
		padding: 2% 3%;
		width: 75%;
		margin-top: 5%;
		border-radius: 56px;
		border: none;
	}
	.table-responsive-lg {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.orchestra {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background: #CCCCCC;
		margin: 0;
		border-radius: 1em;
		padding: 2em;
		margin-top: 2em;
		margin-bottom: 2em;
		text-align: center;
	}
	.orch-head {
		font-size: 2rem;
		color: #000000;
		line-height: 1.2;
		text-decoration: underline;
		text-decoration-color: #A7501F;
		text-align: center;
	}
	.orch-grade {
		font-size: 1.3rem;
		color: #A7501F;
		line-height: 1.2;
		text-align: center;
	}
	.orch-p {
		font-size: 0.875rem;
		color: #000000;
		line-height: 1.2;
		text-align: center;
	}
	.link-register {
		color: #A7501F;
	}
	#people {
		justify-content: center;
	}
}

/* For super small devices (320px and lower)*/
@media only screen and (max-width: 320px) {
	header {
		margin-top: 40px;
	}
	header.masthead .masthead-subheading {
		margin-bottom: 10px;
	}
	.search_bar {
		width: 95%;
	}
	.large-search-icon {
		position: relative;
		font-size: 1em;
		float: right;
		top: -26px;
		right: 20px;
	}
	.page-section h3.section-subheading, 
	.page-section .section-subheading.h3 {
		margin-bottom: -1rem;
	}
	img.slide-img {
		width: 100px;
		margin: 10px;
	}
	.slide-link h5 {
		margin-top: -45px;
	}
}

@media (max-width: 399px) {
	#clubs_title {
		margin-top: 80px;
		margin-bottom: 20px;
	}
}